{
  "sourceMaps": true,
  "plugins": [
    "transform-async-to-generator",
    "transform-es2015-modules-commonjs",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-runtime",
  ],
  "env": {
    "test": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
